# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
flight_price.xlsx
flights_eda.ipynb
height-weight.csv
